
 <!--modal-->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Instructions</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <ul class="modal-list">
               <li>Step 1 :  Fill in the form.</li>
               <li>Step 2 :  Download and print the form.</li>
               <li>Step 3 :  Get it signed by head of the institution.</li>
               <li>Step 4 :  Send the form along with the entry fees to one of the following :</li>
             </ul>
    
             <ul>
               <li><b>Mr. Pratap Singh (Sports Officer)</b></li>
               <li style="list-style: none;font-size: 0.8rem;">Mobile : 9213709657</li>
               <li style="list-style: none;font-size: 0.8rem;">Email: akgecor@akgec.org</li>
               <li style="list-style: none;font-size: 0.8rem;">Address: A.K.G. Engineering College, NH-24, Delhi-Hapur ByPass Road, Adhyatmik Nagar, Ghaziabad</li>
               <li style="list-style: none;font-size: 0.8rem;">Phone: 8744052891 to 94, 7290034976, 7290034978</li>
             </ul>
    
             <ul>
                <li><b>Sh. Rajeev Sharma</b></li>
                <li style="list-style: none;font-size: 0.8rem;">Mobile : 9818085060/08859500694</li>
                <li style="list-style: none;font-size: 0.8rem;">Email: rajeevsharma226@rediffmail.com</li>
                <li style="list-style: none;font-size: 0.8rem;">Address: 645F, Ashina Greens, Indirapuram, Ghaziabad</li>
                <li style="list-style: none;font-size: 0.8rem;">Fax: 0120-2767844</li>
              </ul>
    
              <div class="col-12  text-center">
                  <a class="btn btn-primary down" download="filename" href="assets/entry-form.docx">Download Form</a>
              </div>
              
            </div>
           
          </div>
        </div>
      </div>
  
  
  
<router-outlet></router-outlet>