body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #22283f;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media(max-width: 1024px){
  body{
    background-color: transparent;
  }
}
