<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="assets/fist.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="head">23rd AJAY KUMAR GARG MEMORIAL <br> TABLE TENNIS TOURNAMENT, 2019</h1>
          <p class="head-text mt-5">Under the aegis of GATT, Affiliated with UPTTA</p>
          <p  class="head-text">05-06 November 2019</p>

          <button class="btn entry mt-3">Entry Form</button><br>
          <a class="arrow" href="#"><i class="fa fa-arrow-down arrow-down"></i></a>
        </div>
       </div>
    </div>
  </header>

  <!--About Us-->
  <div class="container">
      <div class="row pt-5">
          <div class="col-12 text-center">
              <h2>About the Tournament</h2>
          </div>
          <div class="col-6">
              <p class="about-text">The 23rd annual Ajay Kumar Garg Memorial Table Tennis Tournament is to be conducted on 4-5 November
                2017 at Ajay Kumar Garg Engineering College in association with GATT, Affiliated with UPTTA. This tournament is
                state level which is held every year for all professional institutions and schools of the state. Various teams mark their
                participation in 8 different categories for men and women separately in individual and team events. A huge amount is kept as the prize money. 
               </p>
          </div>
      </div>
  </div>