<section class="cd-section visible">
  <div>
    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted loop="loop">
        <source src="assets/img/neww.mp4" type="video/mp4" />
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <img class="head-img" src="assets/img/tt-logo.png" />
            <h1 class="head">
              23rd AJAY KUMAR GARG MEMORIAL <br />
              TABLE TENNIS TOURNAMENT, 2019
            </h1>
            <span class="head-text mt-md-5 mt-5"
              >Under the aegis of GATT, Affiliated with UPTTA</span
            >
            <p class="head-text">05-06 November 2019</p>

            <button
              class="btn entry mt-3"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              Entry Form</button
            ><br />
            <a class="arrow"
              ><i
                class="fa fa-arrow-down arrow-down animated infinite bounce"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>

<section class="cd-section" id="about">
  <div>
    <div class="fullwidth">
      <div class="container about">
        <div class="row">
          <div class="col-md-6 col-12">
            <h1 class="number pb-4">01</h1>
            <span class="line"></span>
            <h1 class="heading pt-3">About Us</h1>
            <p class="about-text">
              The 23rd annual Ajay Kumar Garg Memorial Table Tennis Tournament
              is to be conducted on 5-6 November 2019 at Ajay Kumar Garg
              Engineering College in association with GATT, Affiliated with
              UPTTA. This tournament is state level which is held every year for
              all professional institutions and schools of the state. Various
              teams mark their participation in 10 different categories for men
              and women separately in individual and team events. A huge amount
              is kept as the prize money.
            </p>
          </div>
          <div class="col-md-6 col-12 text-center mx-auto">
            <img class="about-image" src="assets/img/tt2.jpg" />
          </div>
        </div>
      </div>

      <div class="container eligible">
        <div class="row">
          <div class="col-md-5 col-12">
            <h1 class="number pb-4">02</h1>
            <span class="line align-items-right"></span>
            <h1 class="heading pt-3">Eligibility</h1>

            <img class="eligible-image" src="assets/img/eligible.png" />
          </div>
          <div class="col-md-7 col-12  eligible-rules">
            <h5 class="pb-3 pl-md-4 pl-0 eligible-head">
              ENTRY FOR TEAM CHAMPIONSHIPS OPEN TO :
            </h5>
            <ul class="list">
              <li>
                All professional Institutes Like Medical, Engineering,
                Management, B.Ed., Computer Applications etc.
              </li>
              <li>Any Graduate/Post Graduate College.</li>
              <li>Organizations (College/Schools).</li>
              <li>All Boys and Girls Schools.</li>
              <li>
                Entry for Individual events opens to Men & Women team members
                and their extra players.
              </li>
              <li>
                Individual entries are accepted for individual events. Age rules
                will be followed as per norms of TTFI/UPTTA.
              </li>
              <li>All entries restricted to State UP.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="cd-section">
  <div>


    </div>
    </section> -->

<section class="cd-section">
  <div>
    <!--prizes-->
    <div class="bg-color">
      <div class="container fullwidth prizes py-4">
        <div class="row">
          <div class="col-12">
            <span class="number">03.</span>

            <span class="heading-st text-center"> Prizes</span>
          </div>

          <div class="col-md-12 col-12 prize mt-5">
            <table
              class="table table-bordered table-hover text-center v-center"
            >
              <thead>
                <tr>
                  <th scope="col">Position</th>
                  <th scope="col">Men Team</th>
                  <th scope="col">Women Team</th>
                  <th scope="col">Men</th>
                  <th scope="col">Women</th>
                  <th scope="col">Youth Boys</th>
                  <th scope="col">Youth Girls</th>
                  <th scope="col">Junior Boys</th>
                  <th scope="col">Junior Girls</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Winner</th>
                  <td>6000</td>
                  <td>6000</td>
                  <td>5000</td>
                  <td>5000</td>
                  <td>3000</td>
                  <td>3000</td>
                  <td>3000</td>
                  <td>3000</td>
                  <td>34000</td>
                </tr>
                <tr>
                  <th scope="row">Runner Up</th>
                  <td>4000</td>
                  <td>4000</td>
                  <td>3000</td>
                  <td>3000</td>
                  <td>2000</td>
                  <td>2000</td>
                  <td>1500</td>
                  <td>1500</td>
                  <td>21000</td>
                </tr>
                <tr>
                  <th scope="row">Semi Finalist 1</th>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>10000</td>
                </tr>
                <tr>
                  <th scope="row">Semi Finalist 2</th>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1500</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>10000</td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td>13000</td>
                  <td>13000</td>
                  <td>11000</td>
                  <td>11000</td>
                  <td>7000</td>
                  <td>7000</td>
                  <td>6500</td>
                  <td>6500</td>
                  <td>75000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <!--Schedule-->

    <div class="container fullwidth">
      <div class="row schedule">
        <div class="col-md-5 col-12">
          <h1 class="number pb-4">04</h1>
          <span class="line"></span>
          <h1 class="heading py-4">Schedule</h1>

          <img class="schedule-image" src="assets/img/schedule.jpg" />
        </div>
        <div class="col-md-7 col-12">
          <div class="row">
            <div class="col-11 text-center mx-auto py-4 mt-4 box">
              <p><span class="reporting">Reporting Date Event</span></p>
              <p><span class="content">November 05, 2019</span></p>
              <p><span class="content">08:30 A.M., for all Events</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-11 text-center mx-auto py-4 box box-2">
              <p><span class="reporting">Last Date of Registration</span></p>
              <p><span class="content">November 03, 2019</span></p>
              <p><span class="content">12:00 Midnight, Entries Closes</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <!--fees-->

    <div class="bg-color">
      <div class="container fullwidth">
        <div class="row fees py-2">
          <div class="col-12">
            <span class="number">05.</span>

            <span class="heading-st text-center"> Fees</span>
          </div>

          <div class="col-md-12 col-12 prize mt-3">
            <table
              class="table table-bordered table-hover text-center v-center"
            >
              <thead>
                <tr>
                  <th scope="col">S. No.</th>
                  <th scope="col">Categories</th>
                  <th scope="col">Age</th>
                  <th scope="col">Born After</th>
                  <th scope="col">Fee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">01</th>
                  <td>Men Team</td>
                  <td>--</td>
                  <td>--</td>
                  <td>600</td>
                </tr>
                <tr>
                  <th scope="row">02</th>
                  <td>Women Team</td>
                  <td>--</td>
                  <td>--</td>
                  <td>600</td>
                </tr>
                <tr>
                  <th scope="row">03</th>
                  <td>Men</td>
                  <td>--</td>
                  <td>--</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">04</th>
                  <td>Women</td>
                  <td>--</td>
                  <td>--</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">05</th>
                  <td>Youth Boys</td>
                  <td>Under 21 yrs.</td>
                  <td>Born on after 1.1.1999</td>
                  <td>300</td>
                </tr>

                <tr>
                  <th scope="row">06</th>
                  <td>Youth Girls</td>
                  <td>Under 21 yrs.</td>
                  <td>Born on after 1.1.1999</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">07</th>
                  <td>Boys</td>
                  <td>Under 18 yrs.</td>
                  <td>Born on after 1.1.2002</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">08</th>
                  <td>Girls</td>
                  <td>Under 18 yrs.</td>
                  <td>Born on after 1.1.2002</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">09</th>
                  <td>Veteran Men</td>
                  <td>Above 40 yrs.</td>
                  <td>--</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>Veteran Women</td>
                  <td>Above 40 yrs.</td>
                  <td>--</td>
                  <td>300</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <!--notes-->

    <div class="container fullwidth">
      <div class="row notes">
        <div class="col-md-4 col-12">
          <h1 class="number pb-4">06</h1>
          <span class="line align-items-right"></span>
          <h1 class="heading py-4">Notes</h1>

          <img class="note-image" src="assets/img/note.jpg" />
        </div>
        <div class="col-md-8 col-12">
          <ul class="list-notes">
            <li>
              Top 8 ranked players of State in Men/Women/Youth Boys and Girls/
              Junior Boys and Girls shall be provided free boarding & lodging
              (in the hostel). Other players will be provided free accommodation
              in the hostel if it is booked in advance and is available.
            </li>
            <li>
              Each Institute/Organisation may send one or two teams per event.
              There is no limit of participants for individual events.
            </li>
            <li>The tournament will be played on knock out basis.</li>
            <li>Each team shall consist of not more than three players.</li>
            <li>
              For Women Team Events, there shall be a minimum of two players and
              maximum 3 players,2 singles and 2 reverse singles with one doubles
              match will be played. Doubles matches can be played by any of the
              team members.
            </li>
            <li>The tournament will be conducted as per TTFI rules.</li>
            <li>
              There will be three players in the team and they will draw for
              choice of ABC & XYZ playing order & the pattern of play will be as
              under:
            </li>
            <ol>
              <li>A v/s X</li>
              <li>B v/s Y</li>
              <li>C v/s Z</li>
              <li>B v/s X</li>
            </ol>
            <li>
              The decision of the tournament Committee will be final in all the
              matters.
            </li>
            <li>
              Dress regulation: All the participating players (Except Masters)
              are requested to wear proper kit like Half Pant, Skirt, T-shirt
              etc.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <div class="fullwidth">
      <div class="container invideo py-5">
        <div class="row">
          <iframe
            width="430"
            height="250"
            class="video mx-auto text-center"
            src="https://www.youtube.com/embed/tSg2ekdN94g"
            frameholder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="container orga-team">
        <div class="row">
          <div class="col-md-4 col-12">
            <h1 class="number pb-4">07</h1>
            <span class="line align-items-right"></span>
            <h1 class="heading py-4">Organising Committee</h1>
          </div>
          <div class="col-md-8 col-12 mt-4">
            <div class="row">
              <div class="col-4 mx-auto text-center">
                <img class="orga shake-slow" src="assets/img/sharma.png" />
                <h6 class="name">Sh. Rajeev Sharma</h6>
                <p class="num">(9818085060)</p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/ip.png" />
                <h6 class="name">Prof. IP Sharma</h6>
                <p class="num">(9650370337)</p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/singh.png" />
                <h6 class="name">Mr. Pratap Singh</h6>
                <p class="num">(9213709657)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <div class="bg-color">
      <div class="container fullwidth">
        <div class="row con-team">
          <div class="col-md-4 col-12">
            <h1 class="number pb-4">08</h1>
            <span class="line align-items-right"></span>
            <h1 class="heading py-4">Convenors</h1>
          </div>
          <div class="col-md-8 col-12">
            <div class="row">
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/utkarsh.png" />
                <h6 class="name">Utkarsh Singhal</h6>
                <p class="num">(7599020190)</p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/archit.png" />
                <h6 class="name">Archit Goel</h6>
                <p class="num">(9891261215)</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/vibhor.png" />
                <h6 class="name">Vibhor Singh</h6>
                <p class="num">(8077886909)</p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/vartika.png" />
                <h6 class="name">Vartika Parashar</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cd-section">
  <div>
    <div class="fullwidth">
      <div class="container">
        <div class="row  web-team">
          <div class="col-md-4 col-12">
            <h1 class="number pb-4">07</h1>
            <span class="line align-items-right"></span>
            <h1 class="heading py-4">Web Team</h1>
          </div>
          <div class="col-md-8 col-12">
            <div class="row">
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/me.png" />
                <h6 class="name">Utkarsh Singh</h6>
                <p class="num"><b>Designer</b></p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/me.png" />
                <h6 class="name">Vinayak Gupta</h6>
                <p class="num"><b>Designer</b></p>
              </div>
              <div class="col-4 mx-auto text-center">
                <img class="orga" src="assets/img/akshay.png" />
                <h6 class="name">Akshay Agarwal</h6>
                <p class="num"><b>Developer</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--follow-->
      <div class="container-fluid follow">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="heading">Follow Us</h1>
          </div>
          <div class="col-8 mx-auto icons py-5">
            <div class="row">
              <div class="col-4 mx-auto text-center">
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <div class="col-4 mx-auto text-center">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </div>
              <!-- <div class="col-4 mx-auto text-center">
                  <a href="#"><i class="fa fa-twitter"></i></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!--footer-->
      <div class="container-fluid footer">
        <div class="row mx-auto text-center">
          <div class="col-12 py-4">
            <div><img class="footer-img" src="assets/img/tt-logo.png" /></div>
            <span class="copy"
              >Copyright © 2019 | Powered by
              <a href="http://www.silive.in" target="_blank"
                >Software Incubator</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<nav>
  <ul class="cd-vertical-nav">
    <li><a href="#0" class="cd-prev inactive">Next</a></li>
    <li><a href="#0" class="cd-next">Prev</a></li>
  </ul>
</nav>
