<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="assets/nhv.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="head">23rd AJAY KUMAR GARG MEMORIAL <br> TABLE TENNIS TOURNAMENT, 2019</h1>
          <p class="head-text mt-5">Under the aegis of GATT, Affiliated with UPTTA</p>
          <p  class="head-text">05-06 November 2019</p>

          <button class="btn entry mt-3">Entry Form</button><br>
          <a class="arrow" href="#"><i class="fa fa-arrow-down arrow-down"></i></a>
        </div>
       </div>
    </div>
  </header>

  <!--About Us-->
  <div class="container">
      <div class="row pt-5">
          
          <div class="col-md-6 col-12">
              <h1 class="number pb-4">01</h1>
              <span class="line"></span>
              <h1 class="heading pt-4">About Us</h1>
              <p class="about-text">The 23rd annual Ajay Kumar Garg Memorial Table Tennis Tournament is to be conducted on 5-6 November
                2019 at Ajay Kumar Garg Engineering College in association with GATT, Affiliated with UPTTA. This tournament is
                state level which is held every year for all professional institutions and schools of the state. Various teams mark their
                participation in 10 different categories for men and women separately in individual and team events. A huge amount is kept as the prize money. 
               </p>
          </div>
          <div class="col-md-6 col-12 text-center mx-auto">
              <img class="about-image" src="assets/tt2.jpg">
          </div>
      </div>
  </div>

  <!--eligibility-->

  <div class="container eligible">
      <div class="row">
          <div class="col-md-5 col-12">
                <h1 class="number pb-4">02</h1>
                <span class="line align-items-right"></span>
                <h1 class="heading py-4">Eligibility</h1>
             
              <img class="about-image" src="assets/eligible.jpg">
          </div>
          <div class="col-md-7 col-12  eligible-rules">
                

                <h5 class="pb-3 pl-4 eligible-head">ENTRY FOR TEAM CHAMPIONSHIPS OPEN TO :</h5>
                <ul class="list">
                    <li>All professional Institutes Like Medical, Engineering, Management, B.Ed., Computer Applications etc.</li>
                    <li>Any Graduate/Post Graduate College.</li>
                    <li>Organizations (College/Schools).</li>
                    <li>All Boys and Girls Schools.</li>
                    <li>Entry for Individual events opens to Men & Women team members and their extra players.</li>
                    <li>Individual entries are accepted for individual events. Age rules will be followed as per norms of TTFI/UPTTA.</li>
                    <li>All entries restricted to State UP.</li>
                    
                </ul>
                
          </div>
      </div>
  </div>

  <!--prizes-->
  <div class="container prizes">
      <div class="row">
          <div class="col-md-8 col-12 prize">
                <h1 class="number pb-4">03</h1>
                <span class="line"></span>
               <h1 class="heading py-4">Prizes</h1>

                <table class="table table-bordered table-hover text-center v-center table-sm table-responsive">
                        <thead>
                          <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Men Team</th>
                            <th scope="col">Women Team</th>
                            <th scope="col">Men</th>
                            <th scope="col">Women</th>
                            <th scope="col">Youth Boys</th>
                            <th scope="col">Youth Girls</th>
                            <th scope="col">Junior Boys</th>
                            <th scope="col">Junior Girls</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Winner</th>
                            <td>6000</td>
                            <td>6000</td>
                            <td>5000</td>
                            <td>5000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>34000</td>
                          </tr>
                          <tr>
                            <th scope="row">Runner Up</th>
                            <td>4000</td>
                            <td>4000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>2000</td>
                            <td>2000</td>
                            <td>1500</td>
                            <td>1500</td>
                            <td>21000</td>
                          </tr>
                          <tr>
                            <th scope="row">Semi Finalist 1</th>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>10000</td>
                          </tr>
                          <tr>
                            <th scope="row">Semi Finalist 2</th>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1500</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">Total</th>
                            <td>13000</td>
                            <td>13000</td>
                            <td>11000</td>
                            <td>11000</td>
                            <td>7000</td>
                            <td>7000</td>
                            <td>6500</td>
                            <td>6500</td>
                            <td>75000</td>
                        </tr>
                        </tbody>
                      </table>


          </div>
          <div class="col-md-4 col-12">
                <img class="about-image" src="assets/tt1.jpg">
          </div>
      </div>
  </div>


  <!--Schedule-->

  <div class="container">
      <div class="row schedule">
          <div class="col-md-5 col-12">
                <h1 class="number pb-4">04</h1>
                <span class="line"></span>
               <h1 class="heading py-4">Schedule</h1>

               <img class="schedule-image" src="assets/schedule.jpg">
          </div>
         <div class="col-md-7 col-12">
             <div class="row">
                 <div class="col-11 text-center mx-auto py-4 mt-4 box">
                    <p><span class="reporting">Reporting Date Event</span></p> 
                    <p> <span class="content">November 05, 2019</span></p>
                    <p><span class="content">08:30 A.M., for all Events</span></p> 
                 </div>
                </div>
                <div class="row">
                        <div class="col-11 text-center mx-auto py-4 mt-5 box">
                               <p><span class="reporting">Last Date of Registration</span></p>
                               <p> <span class="content">November 03, 2019</span></p>
                               <p><span class="content">12:00 Midnight, Entries Closes</span></p> 
                            </div>
                </div>
                 
             
         </div>
      </div>
  </div>