header {
    position: relative;
    background-color: black;
    height: 84vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
  }

  .head{
      font-weight: 400;
      letter-spacing: 0.425rem;
  }
  .head-text{
      font-size: 1.3rem;
      letter-spacing: 0.133rem;
      font-weight: 100;
  }
  .entry{
      background-color: white;
      color: black;
      border: 1px solid white !important;
      padding: 0.5rem 2rem;
      /* box-shadow: 5px 5px 20px 5px rgba(); */
      letter-spacing: 0.083rem;
  }
  .arrow{
      text-decoration: none;
      color: white;
  }
  .arrow-down{
      font-size: 3rem;
      margin-top: 5rem;
      
  }

  .number,.heading{
    font-family: 'Oswald', sans-serif;
  }

  /*About*/
  .number{
      font-size: 4rem;
  }
  .about-text{
      text-align: justify;
      line-height: 1.3rem;
      font-size: 0.9rem;
  }
  .about-image{
   width: 100%;
 
  }
  .line{
      background-color: black;
      
      padding: 0.9rem 0.07rem;
  }

  /* eligibility*/
  .eligible-head{
      font-size: 1.5rem;
  }
  .eligible{
      margin-top: 6rem;
  }
  .list{
      margin-top: 2rem;
     
  }
  .list li{
    margin-bottom: 1.3rem;
    font-size: 1rem;
    letter-spacing: 0.032rem;
  }
  .eligible-rules{
      padding-top: 3rem;
  }

  /*prize*/
  .prizes{
      margin-top: 5rem;
  }
  .prize{
      overflow-x: auto;
  }
  /* .table{
      width: 100%;
  } */
  .line-vertical{
      padding: 0.01rem 2rem;
      background-color: black;
  }
  

  /*schedule*/

  .schedule-image{
      width: 100%;
  }
  .schedule{
      margin-top: 5rem;
  }
  .reporting{
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    border-bottom: 2px solid black;
    line-height: 1.5rem;
  }
  .box{
      box-shadow: 5px 5px 25px 5px rgba(58, 58, 58, 0.11);
      border-radius: 0.6rem;
  }
.content{
    margin-top: 5rem;
}

.table td,.table th{
    padding: 0.645rem;
    font-size: 0.7rem;
}
.fees{
    margin-top: 8rem;
}


.notes{
    margin-top: 8rem;
}
.list-notes{
    margin-top: 1rem;
   
}
.list-notes li{
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  letter-spacing: 0.032rem;
}
.invideo{
    margin-top:8rem;
}

.video{
    display: block;
}


.orga{
    border-radius: 50%;
    width: 100%;
}
.team{
    margin-top: 10rem;
}
.follow{
    margin-top: 4rem;
}
.icons{
    margin-top: 5rem;
}
.fa{
    font-size: 2rem;
}